<div class="main-content">
  <div class="container-fluid">
      <div class="row mb-1">
            <mat-form-field>
            <ngx-mat-file-input formControlName="basicfile" placeholder="Choose file..." ></ngx-mat-file-input>
            <mat-icon matSuffix>folder</mat-icon>
            </mat-form-field>
      </div>
      <div class="row mb-3">
        <div class="col-lg-12">
            <fusioncharts
                type="pareto3d"
                width="100%"
                [dataSource]="paretoDataSource">
            </fusioncharts>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-12">
            <fusioncharts
                type="boxandwhisker2d"
                width="100%"
                [dataSource]="boxPlotDataSource">
            </fusioncharts>
        </div>
    </div>
    <div class="row mb-3">
            <div class="col-md-12">
                    <fusioncharts
                        type="line"
                        width="100%"
                        [dataSource]="lineDataSource">
                    </fusioncharts>
                </div>
    </div>
    <div class="row mb-3">
            <div class="col-md-12">
                    <fusioncharts
                        type="pie3d"
                        width="50%"
                        [dataSource]="qualityPieChart">
                    </fusioncharts>
            </div>
    </div>
  </div>
</div>
