<div class="main-content">
  <div class="container-fluid">
    <div class="row mb-1">
      <mat-form-field>
        <ngx-mat-file-input
          (change)="fileChangeEvent($event)"
          placeholder="Choose file..."
        ></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
      </mat-form-field>
    </div>
    <div class="row mb-3" *ngIf="showParetoDataSource">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Issues</h4>
            <p class="card-category">Per product</p>
          </div>
          <div class="card-body">
            <fusioncharts
              type="column2d"
              [dataSource]="paretoDataSource"
              (dataplotClick)="update($event)"
            >
            </fusioncharts>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="showParetoTable">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Issues</h4>
            <p class="card-category">Per product</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th *ngFor="let header of paretoTable.headers">
                    {{ header }}
                  </th>
                </thead>
                <tbody>
                  <tr *ngFor="let product of paretoTable.rows; let i = index">
                    <td>{{ i + 1 }}</td>
                    <td>{{ product.product }}</td>
                    <td>{{ product.sumOfIssues }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="showLineChart" class="row mb-3">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Total issues</h4>
          </div>
          <div class="card-body">
            <fusioncharts
              type="line"
              width="100%"
              [dataSource]="lineDataSource"
            >
            </fusioncharts>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row mb-3">
      <div class="col-md-12">
        <fusioncharts
          type="boxandwhisker2d"
          width="100%"
          [dataSource]="boxPlotDataSource"
        >
        </fusioncharts>
      </div>
    </div> -->

    <div class="row mb-3" *ngIf="showQualityPieChart">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Quality</h4>
            <p class="card-category">Per product</p>
          </div>
          <div class="card-body">
            <fusioncharts type="pie2d" [dataSource]="qualityPieChart">
            </fusioncharts>
          </div>
        </div>
      </div>
      <div class="col-md-6" *ngIf="showQuantityPieTable">
        <div class="card">
          <div class="card-header card-header-warning">
            <h4 class="card-title ">Quality</h4>
            <p class="card-category">Per product</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table">
                <thead class="text-primary">
                  <th *ngFor="let header of qualityPieTable.headers">
                    {{ header }}
                  </th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let product of qualityPieTable.rows; let i = index"
                  >
                    <td>{{ i + 1 }}</td>
                    <td>{{ product.productName }}</td>
                    <td>{{ product.quality }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
